.header{
    background-color: rgb(255, 0, 0);
}
.header__list{
    display: flex;
    list-style: none;
}
.heater__item{
    margin-left: 10px;
}
.container_header{
 display:flex;
  align-items: center;
justify-content: space-between;
}
.container_hero-block{
    display: flex;
}
.hero-block__title{
    color: rgb(26, 0, 255);
font-family: Holy Union;
font-size: 72px;
font-weight: 400;
line-height: 86px;
letter-spacing: 0%;
text-align: left;
}
.hero-block{
    background-color: blueviolet;
    margin-top: 40px;
}
.hero-block__img{
    width: 800px;
}
.heater__item{
    margin-right: 230px;
}
.author_info{
display: flex;
justify-content: space-around;
align-items: center;
}
.author_title{
    text-align: center;
    color: rgb(0, 255, 220);
font-family: Offside;
font-size: 48px;
font-weight: 400;
line-height: 61px;
letter-spacing: 0%;
}
.Protection{
    color: rgb(255, 0, 0);
font-family: Holy Union;
font-size: 30px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.speed{
    color: rgb(255, 0, 0);
font-family: Holy Union;
font-size: 30px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.Attack{
    color: rgb(255, 0, 0);
font-family: Holy Union;
font-size: 30px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.author{
    background: rgb(26, 0, 255);
}
.hero-block_btn{
    border-radius: 6px;
box-shadow: 0px 2px 13px 0px rgba(226, 158, 0, 0.48);
background: linear-gradient(135.00deg, rgb(255, 0, 0) 0%,rgb(225, 223, 182) 100%);
/* btn */
width: 224px;
height: 58px;
left: 950px;
right: -1198px;
top: 354px;
bottom: -354px;
}
.container_video{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.video__video{
    width: 85%;
    height: 650px;
    border-radius: 29px;
box-shadow: 0px 4px 15px 0px rgba(27, 27, 27, 0.28);
background: linear-gradient(135.29deg, rgb(0, 9, 255) 0%,rgb(236, 248, 0) 100.297%);
border: 50px solid red;
}
.video{
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/123/523/original/messy-dirty-purple-vector-background.jpg");
}
.gallery{
    background-color: blueviolet;
}
.gallery__img{
width: 500px;
height: 505px;
left: 500px;
right: 500px;
top: 500px;
bottom: 500px;
}
.gallery__list{
    display: flex;
    flex-wrap: wrap;
}
.gallery__img{
    width: 50%;
}
.gallery__item{
    width: 30%;
    height: 500;
}
.gallery__title{
text-align: center;
}
.footer__img{
    width: 100%;
}
.footer__item{
    width: 50px;
}
.footer__list{
    display: flex;
    list-style: none;
}
.container_footer{
    display: flex;
    justify-content: space-between;
}
.footer{
    background-color: blue;
}
.video_title{
    margin-top: 50px;
    color: rgb(9, 0, 254);
font-family: Holy Union;
font-size: 48px;
font-weight: 400;
line-height: 58px;
letter-spacing: 0%;
text-align: left;
}
